In [1]:

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from matplotlib.pyplot import figure #figure(num=None, figsize=(8, 6))
from numpy.polynomial import Legendre as L


covid=pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
#print(covid)

# =========Convert data from github into a dataframe with dates as index and countries/province as column names
dfd=covid.T # transpose covid dataframe into df dataframe
countries=list(covid['Country/Region']) # create a list 'countries' of countries from the column 'Country/Region' in covid
province=list(covid['Province/State']) # create a list of 'province' from the column 'Province/State' in covid
colnamesD= [i if str(j)=='nan' else i+'/'+j  for i, j in zip(countries, province)] # create a list by concatenating countries names and "/" and province names
dfd.columns= colnamesD # Set new column names to df dataframe
dfd=dfd.drop(dfd.index[[0,1,2,3]]) # remove the first 4 lines of df with country, province, lat,long
dfd.index=pd.to_datetime(dfd.index, format='%m/%d/%y') # set new index with date as datetime64[ns] format
dfd
#colnamesD

,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia/Australian Capital Territory,Australia/New South Wales,...,Malawi,United Kingdom/Falkland Islands (Malvinas),France/Saint Pierre and Miquelon,South Sudan,Western Sahara,Sao Tome and Principe,Yemen,Comoros,Tajikistan,Lesotho
2020-01-22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-10,120,31,502,48,2,3,305,45,3,44,...,3,0,0,0,0,5,8,1,20,0
2020-05-11,122,31,507,48,2,3,314,46,3,44,...,3,0,0,0,0,5,9,1,21,0
2020-05-12,127,31,515,48,2,3,319,47,3,45,...,3,0,0,0,0,5,10,1,21,0
2020-05-13,132,31,522,49,2,3,329,48,3,45,...,3,0,0,0,0,6,12,1,23,0
2020-05-14,136,31,529,49,2,3,353,49,3,45,...,3,0,0,0,0,7,12,1,29,0

In [2]:
dic={'AB':1, 'VF':6, 'RT':67}
print (dic['AB'])
#dsdate={'Afghanistan': d}

1